:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #3c3c3c;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray: rgb(220, 220, 220);
  --white: #ffffff;
  --blue: rgb(0, 140, 255);
}

body{
  padding: 0px;
  margin: 0px;
}

button{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 5px;
  cursor: pointer;
}

#mainContainer{
  display: grid;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 75% 25%;
  height: 100vh;
}
.previewPanel{
  position: relative;
  background-image: url("./assets/images/previewBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.tableContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 5px;
  width: 75%;
  height: 250px;
  border: 0.2px solid var(--gray);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  background-color: var(--white);
}

.table{
  height: 95%;
}

.tableContainer-header{
  height: 10%;
  width: 98%;
  padding: 1%;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--white);
}

.tableContainer-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  background-color: var(--white);
  overflow-x: auto;
  overflow-y: hidden;
}

.tableContainer-body-columnName{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 170px;
  min-height: 43px;
  font-weight: bold;
  font-size: 0.7rem;
  background-color: var(--gray);
  border-right: 1px solid rgb(200, 200, 200);
}

.tableContainer-body-columnName span{
  padding-left: 5px;
}

.arrowsDiv{
  display: flex;
  height: 100%;
  height: 20%;
}
.arrowsDiv img{
  background-color: var(--white);
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.tableContainer-body-content{
  height: 100%;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 0.8rem;
  white-space: normal; /* Allows text to wrap */
  word-break: break-word; /* Breaks long words if necessary */
  text-overflow: ellipsis;
}

.arrowsDiv img{
  margin-left: 2px;
  margin-right: 2px;
}

.tableContainer-cell {
  flex: 1;
  height: 74%;
  text-align: center;
}

.tableContainer-header-title{
  position: relative;
  top: 50%;
  font-size: 1rem;
  transform: translateY(-50%);
  padding: 0px;
  margin: 0px;
}

.tableContainer-footer{
  height: 10%;
  width: 98%;
  padding: 1%;
  border-radius: 0px 0px 5px 5px;
  background-color: var(--white);
}

.tableContainer-footer button{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 10px;
}

.sidePanel{
  position: relative;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  cursor: pointer;
  padding: 4%;
  width: 92%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  
}

.collapsible-icon{
  position: relative;
  top: 50%;
  transform: rotateY(-50%);
  height: 100%;
  width: 12px;
}
.collapsible-icon img{
  width: 12px;
  height: 12px;
}

.errorMessage{
  color: red;
  padding-left: 4px;
  font-size: 0.7rem;
  border-left: 1px solid red;
}

.collapsible-title{
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  position: relative;
  left: 0px;
}

.sidePanel-title h2{
  text-align: center;
}

.collapsible-title strong{
  margin: 0px;
  padding: 0px;
}

.modifyTitleDiv input[type="text"]{
  border: 1px solid var(--gray);
  height: 1.5rem;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.modifyTitleDiv input[type="text"]:focus{
  transition: 0.4s;
  border: 1px solid var(--blue);
  outline: none;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible-content{
  padding: 10px;
}

.colorsDiv{
  display: flex;
  flex-direction: column;
}
.colorDiv{
  margin-bottom: 0.7em;
}

.tableContainer-footer button:hover, .resetColorBtn:hover{
  color: var(--white);
  background-color: var(--blue);
  transition: 0.2s;
}

.tableContainer-footer button:hover .addColumnIcon, .tableContainer-footer button:hover .removeColumnIcon {
  filter: brightness(0) invert(1);
  transition: 0.2s;
}

.addColumnIcon, .removeColumnIcon{
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 15px 15px 15px 15px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 16px;
  background-color: var(--blue);
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.modal-header span{
  line-height: 100%;
}

.modal-header h2{
  margin-bottom: 0px;
  margin-top: 0px;
}

.modal-body {
  padding: 16px 16px;
}

.modal-footer {
  display: flex;
  justify-content: end;
  padding: 10px 16px;
  background-color: var(--blue);
  color: white;
  border-radius: 0px 0px 10px 10px;
}

.previewSwitch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  background-color: var(--white);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  padding: 8px;
  font-size: 0.75rem;
  border-radius: 5px;
  width: 20%;
  height: 7%;
  max-height: 55px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 3px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  top: 50%; /* Center it vertically */
  background-color: white;
  transform: translateY(-50%); /* Adjust for centering */
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px) translateY(-50%);
  -ms-transform: translateX(20px) translateY(-50%);
  transform: translateX(20px) translateY(-50%);
}

.bottomBar{
  display: none;
  grid-template-columns: 50% 50%;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 12vh;
  background-color: var(--white);
  box-shadow: 0px 0px 15px 10px var(--gray);
  border-top: 1px solid var(--gray);
}
.bottomButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.bottomButton img{
  width: 2rem;
}
.bottomButton span{
  font-weight: bold;
  font-size: 1.3rem;
}

@media (max-width: 370px){
  .tableContainer-footer{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 60%;
    padding-bottom: 50px;
  }
}

@media (max-width: 800px) and (orientation: portrait){
  #mainContainer{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .previewSwitch{
    width: 60%;
    font-size: 2vh;
  }
  .bottomBar{
    display: grid;
  }
  .bottomBar span{
    font-size: 5vw;
  }
  .bottomBar img{
    width: 7vw;
  }
  .sidePanel{
    display: none;
  }
}

@media (max-width: 800px) and (orientation: landscape){
  .tableContainer{
    position: relative;
    height: 180px;
  }
}